/* write your css here */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.homepage-bg{
    background-image: url("./assets/Images/bghome.svg");
}

/* loader css */
.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
    background:
        linear-gradient(0deg, #F4B12A80 50%, #F4B12AFF 0) center/4px 100%,
        linear-gradient(90deg, #F4B12A40 50%, #F4B12ABF 0) center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.custom-loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}

/* About */
.primary-gradient{
    background: var(--gradient-05, linear-gradient(118deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%));
}

.secondary-gradient{
    color: var(--rich-black-100, #AFB2BF);
}

.yellow-gradient{
    
}